*{
  margin: 0;
  padding: 0;
}
.App{
  display: flex;
}
.MenuList{
  width: 15%;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.MenuList a{
  margin: 10px;
}